*{
    margin: 0;
    padding: 0;
}
.col1 {
    width: 80%;
    float: left;
    
}
.col1 .header{
    float: left;
}
.col1 .title{
    padding: 10px 20px;
    margin-top: 10px;
    width: 96.5%;
    font-size: 25px;
}
input:focus {
    background: #ffe; 
    border: 1px solid #29B0D9; 
    color: #29B0D9;
}
.btn{
    background: #29B0D9;
    padding-top: 11px;
    padding-bottom: 13px;
    padding-left: 130px;
    padding-right: 130px;
    margin-top: 10px;
    border: none;
    color: white;
    font-size: 25px;
}
.templates{
    width: 99%;

    
}
.templates > ul .title{
    background: #29B0D9;
    color: white;
    text-align: center;
    margin-top: 2px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 25px;
}

.checkbox{
    height: 30px;
    width: 45px;
}