<div>
  <div class="col1">
    <input 
      [(ngModel)]="title" 
      type="text" 
      class="title"
      placeholder="add list"
      (keyup.enter)="addList()"
    >
  </div> 
  <div class="col3">
    <input type="submit" (click)="addList()" value="add" class="btn">
  </div>  
</div>
<div class="templates">
  <ul>
    <li class="title" *ngFor="let list of list.title ; let i = index">
      <label class="container">
        <input type="checkbox" class="checkbox" (click)="addCheck(i)">  
        {{list}}  
        <input type="button" (click)="myEdit(i)" value="Edit" class="btn">
      </label>
    </li>
  </ul> 
</div>  
<div>
  <input type="submit" value="delete" (click)="deleteAll()" class="btn">

  <input type="submit" value="done" (click)="done(i)" class="btn">
</div>